Dataset de Casos positivos de COVID-19 en Colombia

Acontinuacion puedes observar el EDA del dataset de casos de Covid 19 que ofrece la paguina de datos abiertos de colombia

In [2]:
import pandas as pd

leemos el archivo sabemos que se delimita por , y ponemos que se decodifique usando utf8 debido a que el archivo contiene tildes tambien.

In [5]:
df = pd.read_csv("../Resources/Casos_positivos_de_COVID-19_en_Colombia.csv",
                    delimiter=',', encoding='utf8', engine='python')

Revisamos los primero y los ultimos datos de Data Frame para revisar que tengan coherencia los datos

In [12]:
df.head()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2021-03-04 00:00:00,"2,265,685",2021-03-02 00:00:00,11,BOGOTA,"11,001",BOGOTA,49,1,M,...,NaN,NaN,Recuperado,2021-02-25 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN
1,2021-03-04 00:00:00,"2,265,686",2021-03-02 00:00:00,11,BOGOTA,"11,001",BOGOTA,49,1,M,...,NaN,NaN,Recuperado,2021-02-23 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN
2,2021-03-04 00:00:00,"2,265,687",2021-03-02 00:00:00,11,BOGOTA,"11,001",BOGOTA,51,1,F,...,NaN,NaN,Recuperado,2021-02-24 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN
3,2021-03-04 00:00:00,"2,265,688",2021-03-02 00:00:00,11,BOGOTA,"11,001",BOGOTA,51,1,F,...,NaN,NaN,Recuperado,2021-02-27 00:00:00,NaN,2021-03-03 00:00:00,2021-03-13 00:00:00,Tiempo,6.0,NaN
4,2021-03-04 00:00:00,"2,265,689",2021-03-02 00:00:00,11,BOGOTA,"11,001",BOGOTA,51,1,F,...,NaN,NaN,Recuperado,2021-03-01 00:00:00,NaN,2021-03-03 00:00:00,2021-03-16 00:00:00,Tiempo,6.0,NaN

In [13]:
df.tail()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
6372387,2022-02-05 00:00:00,"5,956,386",2022-01-19 00:00:00,50,META,"50,001",VILLAVICENCIO,47,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6372388,2022-02-05 00:00:00,"5,956,387",2022-01-19 00:00:00,50,META,"50,001",VILLAVICENCIO,39,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6372389,2022-02-05 00:00:00,"5,956,388",2022-01-19 00:00:00,50,META,"50,001",VILLAVICENCIO,35,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6372390,2022-02-05 00:00:00,"5,956,389",2022-01-19 00:00:00,50,META,"50,001",VILLAVICENCIO,11,1,M,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN
6372391,2022-02-05 00:00:00,"5,956,390",2022-01-19 00:00:00,50,META,"50,001",VILLAVICENCIO,34,1,F,...,NaN,NaN,Recuperado,2022-01-15 00:00:00,NaN,2022-01-30 00:00:00,2022-02-06 00:00:00,Tiempo,6.0,NaN

Aqui vamos a ver las dimensiones del Data Frame y el nombre de las columas que tiene

In [14]:
print("Cantidad de Filas y columnas: ", df.shape)

Cantidad de Filas y columnas:  (6372392, 23)

In [15]:
print("Nombre de columnas: ", df.columns)

Nombre de columnas:  Index(['fecha reporte web', 'ID de caso', 'Fecha de notificación',
       'Código DIVIPOLA departamento', 'Nombre departamento',
       'Código DIVIPOLA municipio', 'Nombre municipio', 'Edad',
       'Unidad de medida de edad', 'Sexo', 'Tipo de contagio',
       'Ubicación del caso', 'Estado', 'Código ISO del país',
       'Nombre del país', 'Recuperado', 'Fecha de inicio de síntomas',
       'Fecha de muerte', 'Fecha de diagnóstico', 'Fecha de recuperación',
       'Tipo de recuperación', 'Pertenencia étnica',
       'Nombre del grupo étnico'],
      dtype='object')

Vamos tambien a ver para cada columna que tipos de datos contiene, pero nos damos cuenta que no es muy diciente asi que debemos ver mas a fondo las columnas que necesitamos

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6372392 entries, 0 to 6372391
Data columns (total 23 columns):
 #   Column                        Dtype
---  ------                        -----
 0   fecha reporte web             object
 1   ID de caso                    object
 2   Fecha de notificación         object
 3   Código DIVIPOLA departamento  object
 4   Nombre departamento           object
 5   Código DIVIPOLA municipio     object
 6   Nombre municipio              object
 7   Edad                          int64
 8   Unidad de medida de edad      int64
 9   Sexo                          object
 10  Tipo de contagio              object
 11  Ubicación del caso            object
 12  Estado                        object
 13  Código ISO del país           object
 14  Nombre del país               object
 15  Recuperado                    object
 16  Fecha de inicio de síntomas   object
 17  Fecha de muerte               object
 18  Fecha de diagnóstico          object
 19  Fecha de recuperación         object
 20  Tipo de recuperación          object
 21  Pertenencia étnica            float64
 22  Nombre del grupo étnico       object
dtypes: float64(1), int64(2), object(20)
memory usage: 1.1+ GB

Validamos si encontramos datos duplicados o no

In [17]:
df['ID de caso'].duplicated().any()

False

En grandes rasgos vamos a ver los datos numericos como se estan comportando

In [18]:
df.describe()

               Edad  Unidad de medida de edad  Pertenencia étnica
count  6.372392e+06              6.372392e+06        6.369916e+06
mean   3.997267e+01              1.005280e+00        5.912016e+00
std    1.844271e+01              7.784666e-02        5.870738e-01
min    1.000000e+00              1.000000e+00        1.000000e+00
25%    2.700000e+01              1.000000e+00        6.000000e+00
50%    3.800000e+01              1.000000e+00        6.000000e+00
75%    5.300000e+01              1.000000e+00        6.000000e+00
max    1.140000e+02              4.000000e+00        6.000000e+00

Ahora queremos saber los nulos de cada una de las columnas

In [19]:
df.isnull().sum()

fecha reporte web                     0
ID de caso                            0
Fecha de notificación                 0
Código DIVIPOLA departamento          0
Nombre departamento                   0
Código DIVIPOLA municipio             0
Nombre municipio                      0
Edad                                  0
Unidad de medida de edad              0
Sexo                                  0
Tipo de contagio                      0
Ubicación del caso                40083
Estado                            40083
Código ISO del país             6368687
Nombre del país                 6368679
Recuperado                        35166
Fecha de inicio de síntomas      504255
Fecha de muerte                 6189502
Fecha de diagnóstico               2755
Fecha de recuperación            180086
Tipo de recuperación             180160
Pertenencia étnica                 2476
Nombre del grupo étnico         6288720
dtype: int64

Esta es una de las columas que nos interesa entonces vamos a revisarla mas a fondo, primero vemos los datos que mas se repiten

In [21]:
df['Nombre del país'].value_counts()

Nombre del país
ESTADOS UNIDOS DE AMÉRICA      1416
MÉXICO                          385
ESPAÑA                          370
BRASIL                          285
VENEZUELA                       177
                               ...
POLINESIA FRANCESA                1
MONTENEGRO                        1
REINO UNIDO                       1
CHINA                             1
REPUBLICA POPULAR DEL CONGO       1
Name: count, Length: 88, dtype: int64

vemos que la mayo parte de la columna esta vacia y queremos saber por que

In [22]:
df['Nombre del país'].isnull().sum()

6368679

Aqui podemos ver a simple vista que parece ser que los campos vacios corresponden a colombia

In [23]:
df.loc[df['Nombre del país'].isnull(), 'Nombre departamento']

0          BOGOTA
1          BOGOTA
2          BOGOTA
3          BOGOTA
4          BOGOTA
            ...
6372387      META
6372388      META
6372389      META
6372390      META
6372391      META
Name: Nombre departamento, Length: 6368679, dtype: object

Entonces vamos a revisar cuantos registros de departamentos pertenencen a colombia y vemos que tenemos 3 millosnes de coincidencias

In [55]:
departamentos_colombia = [
    'AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO',
    'BOLIVAR', 'BOYACA',
    'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA', 'CUNDINAMARCA',
    'GUAINIA', 'GUAVIARE',
    'HUILA',
    'LA GUAJIRA',
    'MAGDALENA', 'META',
    'NARINO', 'NORTE DE SANTANDER',
    'PUTUMAYO',
    'QUINDIO',
    'RISARALDA',
    'SAN ANDRES Y PROVIDENCIA', 'SANTANDER', 'SUCRE',
    'TOLIMA',
    'VALLE DEL CAUCA', 'VAUPES', 'VICHADA'
]

df['Nombre departamento'].isin(departamentos_colombia).sum()

3092939

aqui vamos a ver que pasa con los registros que no coinciden y podemos observar que estan mal definido como departamentos y ademas estan mescados con minusculas

In [56]:
df[~df['Nombre departamento'].isin(departamentos_colombia)]['Nombre departamento'].value_counts()

Nombre departamento
BOGOTA             1880264
VALLE               570055
BARRANQUILLA        277707
CARTAGENA           163448
NORTE SANTANDER     125717
NARIÑO              108700
STA MARTA D.E.       84774
GUAJIRA              58222
SAN ANDRES           10394
Santander              162
Cundinamarca             7
Tolima                   1
Caldas                   1
Putumayo                 1
Name: count, dtype: int64

Entonces vamos a revisar las demas columnas que nos interesan para ver que debemos hacer con ellas

In [6]:
df['Nombre municipio'].value_counts()

Nombre municipio
BOGOTA             1880264
MEDELLIN            549153
CALI                404449
BARRANQUILLA        277707
CARTAGENA           163448
                    ...
momil                    1
puerto COLOMBIA          1
barrancabermeja          1
Galapa                   1
ENTRERrIOS               1
Name: count, Length: 1057, dtype: int64

In [64]:
df['Unidad de medida de edad'].value_counts()

Unidad de medida de edad
1    6341318
2      28502
3       2571
4          1
Name: count, dtype: int64

In [57]:
df['Edad'].value_counts()

Edad
30     152739
29     151182
28     151080
31     149676
27     149183
        ...
111         6
109         5
112         4
114         3
113         1
Name: count, Length: 114, dtype: int64

In [61]:
df['Edad'].isnull().sum()

0

In [59]:
df['Sexo'].value_counts()

Sexo
F    3406323
M    2966057
m          6
f          6
Name: count, dtype: int64

In [62]:
df['Sexo'].isnull().sum()

0

In [60]:
df['Recuperado'].value_counts()

Recuperado
Recuperado    6192232
Fallecido      142512
Activo           2187
fallecido         295
Name: count, dtype: int64

En el caso de la columna de recuperados los valores vacios corresponden a fallecidos no covid entonces estos datos no nos interesan

In [63]:
df['Recuperado'].isnull().sum()

35166