In [2]:
import pandas as pd

Leemos el archivo de la data revisando primero si existe el archivo que esta decodificado y separado anteriormente, si no leera el archivo original

In [3]:

df = pd.read_csv("../Resources/Casos_positivos_de_COVID-19_en_Colombia.csv",
                    delimiter=',', encoding='utf8', engine='python')

In [38]:
df_inicial = df.shape
print("Cantidad de Filas y columnas: ", df.shape)

Cantidad de Filas y columnas:  (6372392, 23)

In [39]:
print("Nombre de las columnas: ", df.columns)

Nombre de las columnas:  Index(['fecha reporte web', 'ID de caso', 'Fecha de notificación',
       'Código DIVIPOLA departamento', 'Nombre departamento',
       'Código DIVIPOLA municipio', 'Nombre municipio', 'Edad',
       'Unidad de medida de edad', 'Sexo', 'Tipo de contagio',
       'Ubicación del caso', 'Estado', 'Código ISO del país',
       'Nombre del país', 'Recuperado', 'Fecha de inicio de síntomas',
       'Fecha de muerte', 'Fecha de diagnóstico', 'Fecha de recuperación',
       'Tipo de recuperación', 'Pertenencia étnica',
       'Nombre del grupo étnico'],
      dtype='object')

Vamos a concentrarnos principalmente en las siguiente columans:

Nombre municipio, Edad, Sexo, Tipo de contagio, Estado, Nombre del país y Recuperado

primero vamos a llenar los espacios de la columa pais con el valor Colombia y limitaremos nuesto dataframe a esos registros

In [40]:
df['Nombre del país'] = df['Nombre del país'].fillna("COLOMBIA")
df['Nombre del país'].value_counts()

Nombre del país
COLOMBIA                       6368679
ESTADOS UNIDOS DE AMÉRICA         1416
MÉXICO                             385
ESPAÑA                             370
BRASIL                             285
                                ...
CHINA                                1
BOSNIA Y HERZEGOVINA                 1
SAN BARTOLOMÉ                        1
VENEUELA                             1
REPUBLICA POPULAR DEL CONGO          1
Name: count, Length: 89, dtype: int64

In [41]:
print("Al limitar el dataset solo para colombia descartaremos", df['ID de caso'].count() - df['Nombre del país'].value_counts()['COLOMBIA'], "registros")

Al limitar el dataset solo para colombia descartaremos 3713 registros

In [43]:
df = df[df['Nombre del país'] == "COLOMBIA"]
df['Nombre del país'].value_counts()

Nombre del país
COLOMBIA    6368679
Name: count, dtype: int64

Como solo nos interesan los casos que tengan un estado en recuperado, debido a que los casos que tienen vacio el registro de Recuperado nulo significa que fallecieron por otra causa agena a COVID-19 limitaremos la data a lo que tengan algo en ese campo.

In [46]:
print("Al limitar el dataset para casos con registro recuperado, descartaremos", df['ID de caso'].count() - df['Recuperado'].value_counts().sum(), "registros")

Al limitar el dataset para casos con registro recuperado, descartaremos 35161 registros

In [47]:
df = df[df['Recuperado'] != ""]
df['Recuperado'].value_counts()

Recuperado
Recuperado    6188618
Fallecido      142418
Activo           2187
fallecido         295
Name: count, dtype: int64

Cambiamos los valores a mayusculas

In [ ]:
df['Recuperado'] = df['Recuperado'].astype(str)
df['Recuperado'] = df['Recuperado'].apply(str.upper)
df['Recuperado'].value_counts()

Cambiamos los valores de los nombres de los departamentos a mayusculas

In [49]:
df['Nombre departamento'].isnull().any()

False

In [50]:
df['Nombre departamento'] = df['Nombre departamento'].apply(str.upper)
df['Nombre departamento'].value_counts()

Nombre departamento
BOGOTA             1879325
ANTIOQUIA           951808
VALLE               569260
CUNDINAMARCA        330670
SANTANDER           296835
BARRANQUILLA        277636
CARTAGENA           163413
ATLANTICO           140935
BOYACA              130537
TOLIMA              127524
NORTE SANTANDER     125512
CORDOBA             122785
CALDAS              119827
RISARALDA           109984
CESAR               109699
NARIÑO              108664
META                108016
HUILA               103376
STA MARTA D.E.       84768
CAUCA                77006
QUINDIO              73132
SUCRE                67323
GUAJIRA              58215
CASANARE             43180
BOLIVAR              40279
MAGDALENA            33115
CAQUETA              25726
PUTUMAYO             22024
CHOCO                18897
ARAUCA               17238
SAN ANDRES           10386
AMAZONAS              7649
GUAVIARE              5687
VICHADA               3494
GUAINIA               2787
VAUPES                1967
Name: count, dtype: int64

Cambiamos los valores de los nombres de los municipios a mayusculas

In [55]:
df['Nombre municipio'].isnull().any()

False

In [56]:
df['Nombre municipio'] = df['Nombre municipio'].apply(str.upper)
df['Nombre municipio'].value_counts()

Nombre municipio
BOGOTA                            1879325
MEDELLIN                           548596
CALI                               403931
BARRANQUILLA                       277636
CARTAGENA                          163413
                                   ...
EL ENCANTO (CD)                         7
PUERTO ALEGRIA (CD)                     7
BELEN DE BAJIRA                         4
PAPUNAUA (MORICHAL) (CD)                1
MORICHAL (MORICHAL NUEVO) (CD)          1
Name: count, Length: 1039, dtype: int64

Cambiamos los valores del sexo a mayusculas

In [57]:
df['Sexo'].isnull().any()

False

In [58]:
df['Sexo'] = df['Sexo'].apply(str.upper)
df['Sexo'].value_counts()

Sexo
F    3404438
M    2964241
Name: count, dtype: int64

Vamos a renombrar las columnas para dejarle el nombre se que van a tomar en la bd

In [4]:
nombre_comunas = [
    'fecha reporte web',	'IdCaso',	'Fehca_notificacion', 'Codigo_departamento',	'Nombre_departamento',	'Codigo_municipio',	'Nombre_municipio',	'Edad',	'Unidad_medida_edad',	'Sexo',	'Tipo_contagio',	'Ubicacion_caso',	'Estado',	'Codigo_pais',	'Nombre_pais',	'Recuperado',	'Fecha_inicio_sintomas',	'Fecha_muerte',	'Fecha_diagnostico',	'Fecha_recuperacion',	'Tipo_recuperacion',	'Pertenencia_etnica',	'Nombre_grupo_etnico',
]

if len(nombre_comunas) != len(df.columns):
  print("El numero de nombres a asignar no coinncide con el numero de columnas")
else:
  df.columns = nombre_comunas

df.columns

Index(['fecha reporte web', 'IdCaso', 'Fehca_notificacion',
       'Codigo_departamento', 'Nombre_departamento', 'Codigo_municipio',
       'Nombre_municipio', 'Edad', 'Unidad_medida_edad', 'Sexo',
       'Tipo_contagio', 'Ubicacion_caso', 'Estado', 'Codigo_pais',
       'Nombre_pais', 'Recuperado', 'Fecha_inicio_sintomas', 'Fecha_muerte',
       'Fecha_diagnostico', 'Fecha_recuperacion', 'Tipo_recuperacion',
       'Pertenencia_etnica', 'Nombre_grupo_etnico'],
      dtype='object')

Llevamos la data limpia a un archivo csv

In [ ]:
df.to_csv("../Output/cleardata.csv")